textarea:focus,
input:focus {
  outline: none;
}
.header {
  @apply tw-flex
  tw-flex-row
  tw-justify-between
  tw-items-center
  tw-rounded-4-px
  tw-p-12-px
  tw-m-24-px;
  background: linear-gradient(146deg, #e1eeff 19.67%, #ffe4fb 127.56%);
}

.search-button {
  @apply tw-border 
  tw-border-solid 
  tw-border-dark-border
  tw-rounded-4-px
  tw-flex
  tw-justify-center
  tw-h-60-px
  tw-w-200-px;
}
.trending-subjects {
  @apply tw-bg-table-header-bg
  tw-p-12-px
  tw-rounded-4-px
  tw-shadow-lg;
}
/******** Search Results *******/
.container {
  width: 100%;
  margin: 24px;
}
.search-results {
  width: 95%;
  height: 75vh;
  @apply tw-bg-table-header-bg tw-p-12-px
  tw-rounded-4-px
  tw-shadow-lg;
}
.loader {
  padding: 2em;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pulsing-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(146deg, #e1eeff 19.67%, #ffe4fb 127.56%);
  box-shadow: 0 0 0 0 hsla(220, 23%, 41%, 0.698);
  animation: pl2 1.5s infinite linear;
  position: relative;
}
.pulsing-2:before,
.pulsing-2:after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 hsla(220, 23%, 41%, 0.392);
  animation: inherit;
  animation-delay: -0.5s;
}
.pulsing-2:after {
  animation-delay: -1s;
}
@keyframes pl2 {
  100% {
    box-shadow: 0 0 0 40px hsla(220, 23%, 41%, 0.287);
  }
}
.no-data-found {
  color: hsla(0, 92%, 65%, 0.657);
  text-align: center;
}
